div.header
  ul#menu
    li: a(href='/') Home
    li: a(href='/posts') Boards
    li: a(href='/#') Help
    if (!user)
      li: a(href='/login') Login
    if (user)
      li: a(href='/Profile') Profile(#{user.username})
      li: a(href='/Logout') Logout
      
