extends _layout

block content
  div.main
    h1 Welcome to Basic CRUD with Mongoose
    p This app is created to tryout the CRUD with mongoose/MongoDB. Login authentication is implemented with passport, express-session, and mongoose.
    if (!user)
      h3 Next Step
      a.button-center(href='./login' title='If you have already an account, please login with username & password') Login
      a.button-center(href='./register' title='If you are not signed up, please sign up here.') Signup
      a.button-center(href='./posts' title='Here you can try out as a guest (reader).') TryOut 
    if (user)
      h3 Hi, #{user.username}
      a(href="/logout") Logout
  div.sidebar
  
