extends _layout

block content 
  div.main
    h1 Login 
    form(method="post", action="/login")
      input(type="text", name="username", placeholder='Entre Username')
      input(type="password", name="password", placeholder='Password')
      input.button(type="submit", value="Login")
      a.button(href='/') Cancel
  div.sidebar
