extends _layout

block content 
  div.main
    h1 Signup
    form(method="post", action="/register")
      input(type="text", name="username", placeholder='Entre Username')
      input(type="password", name="password", placeholder='Password')
      input.button(type="submit", value="Signup")
      a.button(href='/') Cancel
  div.sidebar
