extends ../_layout

block content 
  div.main
    h1 Login 
    div.loginbox.clearfix
      if (message)
        p.warning= message
      form(method="post", action="/login")
        lable Username:
          if (!user)
            input(type="text", name="username", placeholder='Entre Username')
          if (user)
            input(type="text", name="username", value=user.username)
        label Password:
          input(type="password", name="password", placeholder='Password')
        input.button.highlight(type="submit", value="Login")
        a.button(href='/') Cancel
  div.sidebar
