extends ../_layout

block content 
  div.main
    h1 Login 
    div.loginbox.clearfix
      form(method="post", action="/login")
        lable Username:
          input(type="text", name="username", placeholder='Entre Username')
        label Password:
          input(type="password", name="password", placeholder='Password')
        input.button.highlight(type="submit", value="Login")
        a.button(href='/') Cancel
  div.sidebar
